<ion-content padding class = "background">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
    </style>
      <ion-title>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </ion-title>



<ion-button size="large" color="secondary" shape="round" (click)="abrirPaginaCR('culturas-recomendadas')" expand="block">
  Culturas Recomendadas
</ion-button>

<ion-title>
  <br>
</ion-title>


<ion-button size="large" color="secondary" shape="round" (click)="abrirPaginaLC('lista-culturas')" expand="block">
  Lista de Culturas
</ion-button>
</ion-content>