
<ion-content>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
    </style>
      <ion-title color="success"><font size="7">
        <center><br><br>Dicas <br> da <br> Roça</center></font>
      </ion-title>

</ion-content>

<ion-button size="large" color="secondary" shape="round" (click)="abrirPaginaCR('culturas-recomendadas')">
  Culturas Recomendadas
</ion-button>

<ion-button size="large" color="secondary" shape="round" (click)="abrirPaginaLC('lista-culturas')">
  Lista de Culturas
</ion-button>