<ion-content padding class = "background">

  <br><ion-button size="large" color="success" expand="block">
    Lista de Culturas
  </ion-button>

<ion-searchbar color="light" debounce="500"></ion-searchbar>
<center>
<ion-button size="large"  color="secondary" shape="round" expand="block">
Soja
</ion-button>

<ion-button size="large" color="secondary" shape="round" expand="block">
  Mandioca
</ion-button>

<ion-button size="large" color="secondary" shape="round" expand="block">
  Milho
</ion-button>

<ion-button size="large" color="secondary" shape="round" expand="block">
  Café
</ion-button>

<ion-button size="large" color="secondary" shape="round" expand="block">
  Feijão
</ion-button>

<ion-button size="large" color="secondary" shape="round" expand="block">
  Arroz
</ion-button>

<ion-button size="large" color="secondary" shape="round" expand="block">
  Trigo
</ion-button></center>

</ion-content>