<ion-content padding class = "background">

  <br><ion-button  class="initbutton2" (click)="abrirPaginaMC('menu-calc')">
    <span class="texto">CADASTRO DE DESPESAS</span>
  </ion-button>
  <br>

<ion-content>
  <h3 class="text2">Cadastre suas novas despesas:</h3>
  <h5 class="text3">De que é essa despesa? Preencha o nome e o valor da despesa:</h5>

  <ion-input class="backinput" [(ngModel)]='nomeDespesa' placeholder="Digite o nome da despesa:"></ion-input>

  <ion-input class="backinput" [(ngModel)]='valorDespesa' placeholder="Digite o valor da despesa:"></ion-input>


    <div class="formgroup">
      <form><input class="radio" name="Despesa Recorrente" type="radio"></form>
        <label>É uma despesa recorrente?</label>
    </div>

<br>
      <ion-button class="buttonsave" (click)="saveInfosDesp()" shape="round" >
        <span class="texto">Salvar Alterações</span>
      </ion-button>


