<ion-content padding class = "background">

  <br><ion-button  class="initbutton2" (click)="abrirPaginaMC('menu-calc')">
    <span class="texto">CADASTRO DE DESPESAS</span>
  </ion-button>
  <br>

<ion-content>
  <h3 class="text2">Cadastre suas novas despesas:</h3>
  <h5 class="text3">De que é essa despesa? Selecione uma das opções abaixo ou cadastre um novo produto clicando em outro:</h5>

  <ion-button class="botoes" shape="round" >
    <span class="texto">Adubos e fertilizantes</span>
  </ion-button>

  <ion-button class="botoes" shape="round" >
    <span class="texto">Rações para animais</span>
  </ion-button>

  <ion-button class="botoes" shape="round" >
    <span class="texto">Sementes</span>
  </ion-button>

  <ion-button class="botoes" shape="round">
    <span class="texto">Defensivos agrícolas</span>
  </ion-button>

  <ion-button  class="botoes" shape="round" (click)="abrirPaginaCP('cad-prod')" >
    <span class="texto">Outro</span>
  </ion-button>


    <ion-input class="backinput" placeholder="Digite o valor da despesa:"></ion-input>


    <div class="formgroup">
        <input class="radio"  type="radio">
        <label>É uma despesa recorrente?</label>
    </div>

<br>
      <ion-button class="buttonsave" shape="round" (click)="abrirPaginaMC('menu-calc')">
        <span class="texto">Salvar Alterações</span>
      </ion-button>


