<ion-content padding class = "background">

  <br><ion-button size="large" color="success" (click)="abrirPaginaLC('lista-culturas')" expand="block">
    MANDIOCA
  </ion-button>
  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      CLIMA: A temperatura ideal para o bom desenvolvimento da mandioca varia entre 20 °C e 27 °C. Temperaturas baixas retardam o crescimento da planta. <br>
      ÁGUA: Durante os cinco primeiros meses de cultivo da mandioca, a planta é muito sensível à falta de água. Neste período é importante manter o solo sempre úmido, sem que fique encharcado. Quando bem desenvolvidas, as plantas são tolerantes a períodos de seca.      
    </ion-text></ion-card-content>
  </ion-card>
<br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      TERRENO: A mandioca pode ser cultivada até em solos pouco férteis, desde que sejam bem drenados. Solos argilosos pesados e solos compactados não são adequados, pois prejudicam o crescimento das raízes. O mais indicado é que o solo seja permeável, fértil, rico em matéria orgânica, com pH entre 5 e 6.
    </ion-text></ion-card-content>
  </ion-card>
  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      COLHEITA: A colheita da mandioca pode ocorrer de 6 meses a 3 anos (geralmente de 12 a 18 meses) após o plantio das manivas da mandioca, dependendo da cultivar e das condições de cultivo.
    </ion-text></ion-card-content>
  </ion-card>
  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      ACONDICIONAMENTO: A mandioca deve ser muito bem acondicionada para que não sofra oxidação. Estudos indicam que as raízes armazenadas de 0-2°C, por duas semanas, não apresentam oxidação interna. Existe também a possibilidade da lavagem das raízes, sanitização com água sanitária associada a um antioxidante ácido cítrico por 5 minutos, e embalagem à vácuo em sacos de polietileno, o que garante uma vida útil de até quatro semanas se o armazenamento ocorrer a 4ºC. <br>
      VIDA ÚTIL: A deterioração fisiológica da mandioca ocorre em 48-72 horas após a colheita. Já a deterioração microbiológica ocorre após 5 ou 7 dias da colheita. Com o devido acondicionamento, a vida útil pode chegar a até 4 semanas.
    </ion-text></ion-card-content>
  </ion-card>

</ion-content>
