<ion-content padding class = "background">

  <br><ion-button size="large" color="success" expand="block">
    MILHO
  </ion-button>

  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      CLIMA: O ideal é ter temperaturas em torno de 25 °C e 30 °C durante o dia e com noites frias, em torno de 16 °C e 19 °C. <br>
      ÁGUA: O milho de variedade de ciclo médio cultivado para a produção de grãos secos consome de 400 a 700 mm de água em seu ciclo completo, dependendo das condições climáticas.
    </ion-text></ion-card-content>
  </ion-card>
<br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      TERRENO: Solos de textura média, com teores de argila em torno de 30-35% ou mesmo argilosos com boa estrutura, como os latossolos, que possibilitam drenagem adequada, apresentam boa capacidade de retenção de água e de nutrientes disponíveis para as plantas, são os mais recomendados para a cultura do milho.
    </ion-text></ion-card-content>
  </ion-card>
  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      COLHEITA: Antes de tudo, a colheita do milho acontece entre 4 e 6 meses após o plantio, sendo que as espigas ficam maduras 50 dias depois da floração. No entanto, é importante ressaltar que esse processo vai depender da maneira como o plantio foi realizado bem como a espécie do milho e as condições climáticas da região.
    </ion-text></ion-card-content>
  </ion-card>
  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      ACONDICIONAMENTO: Normalmente, os grãos são armazenados em silos, mas também podem ser conservados em armazém ou paiol, desde que acondicionados em sacarias. <br>
      VIDA ÚTIL: O tempo de armazenamento máximo indicado é de seis meses para os grãos de milho.
    </ion-text></ion-card-content>
  </ion-card>

</ion-content>
