<ion-content padding class = "background">

  <br><ion-button size="large" color="success" expand="block">
    ARROZ
  </ion-button>

  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      CLIMA: A temperatura ótima para o desenvolvimento do arroz situa-se entre 20 e 35°C. Em geral, a cultura exige temperaturas relativamente elevadas da germinação à maturação, uniformemente crescente até a floração (antese) e decrescente, porém sem abaixamento brusco, após a floração. <br>
      ÁGUA: A demanda hídrica fica em torno de 500 a 800 mm de água. Na região subtropical, estima-se que seja usado na lavoura de arroz irrigado um volume de água em torno de 12 mil m3 ha-1, ou seja, vazão de 1,4 L s-1 ha-1, para um período médio de irrigação de 85 a 100 dias, com viés de baixa.
    </ion-text></ion-card-content>
  </ion-card>
<br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      TERRENO: Uma topografia plana, com declividade pequena, suficiente para evitar estagnação de água, um solo sedimentar argilo-humifero ou simplesmente argiloso, sobre camadas impermeáveis de sub-solo, próximas da superfície, é o que temos de melhor para a cultura irrigada. Em todos os países de alta produção, o arroz é irrigado. 
    </ion-text></ion-card-content>
  </ion-card>
  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      COLHEITA: O arroz deve ser colhido com umidade superior a 20% e inferior a 26%. Estes são os limites ideais do ponto de colheita. 
      Quando colhido cedo, antes de atingir 26% de umidade, haverá muito grão mal formado, com aparecimento de grãos “gessados” ou “barriga branca”. Quando colhido com menos de 20% estará cristalizada, perdendo-se, no campo, por derrame natural, boa porção da colheita, além dos prejuízos causados pela quebra no beneficiamento. 
    </ion-text></ion-card-content>
  </ion-card>
  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      ACONDICIONAMENTO: A temperatura do ar na massa de grãos não deve ultrapassar 40°C para a secagem do arroz para processamento. Os choques térmicos, em que a temperatura de secagem é elevada ou baixada muito rapidamente, devem ser reduzidos ao máximo, pois podem provocar maior incidência de grãos quebrados, depreciando o produto final.  <br>
      VIDA ÚTIL: A duração do ciclo varia entre 100 e 140 dias para a maioria das cultivares cultivadas em sistema inundado, sendo que a maior parte da variação entre cultivares ocorre na fase vegetativa. As cultivares de arroz de sequeiro tem duração de ciclo entre 110 e 155 dias.
    </ion-text></ion-card-content>
  </ion-card>

</ion-content>
