<ion-content padding class = "background">

  <br><ion-button class="cadbutton" (click)="abrirPaginaMC('menu-calc')">
    <span class="texto"> CADASTRO DE PRODUTOS </span>
  </ion-button>
  <br>

  <ion-content>
    <h3>Preencha as informações abaixo:</h3><br>
    <h5>Trata-se de uma despesa <br> ou um faturamento?</h5>

    <div class="formgroup">
    <form><input class="radio" name="Despesa" type="radio"></form>
      <label>Despesa</label>
    </div>
    <div class="formgroup">
    <form><input class="radio" name="Faturamento" id="radio2" type="radio"></form>
      <label>Faturamento</label>
    </div>

    <div class="inputtext">
      <form><input class="insideInput" type="text" placeholder="Digite o nome"></form>
    </div>

    <div class="divbuttonsave">
      <ion-button class="buttonsave" shape="round" (click)="abrirPaginaMC('menu-calc')" >
        <span class="texto">Salvar Alterações</span>
      </ion-button>
    </div>

