<ion-content padding class = "background">

  <br><ion-button size="large" color="success" (click)="abrirPaginaLC('lista-culturas')" expand="block">
    CAFÉ
  </ion-button>

  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      CLIMA: As regiões que apresentam temperatura média que varie entre 18°C e 22°C são as mais recomendadas para o cultivo do café. A variedade “robusta” tolera até 24°C.<br>
      ÁGUA: Após duas temporadas de cultivo, plantas irrigadas com água eletromagneticamente tratada mostrou melhora nos galhos produtivos, o que reflete no aumento de produtividade e rendimentos do café. Existem alguns métodos empregados para a irrigação do café, como: Canhão hidráulico, Malha, Pivô central, Microaspersores, Gotejamento e Tripas.<br>
      A recomendação do método de irrigação depende de fatores como:<br>
      •	topografia da área;<br>
      •	disponibilidade de água na propriedade;<br>
      •	porosidade do solo;<br>
      •	nível tecnológico da fazenda;<br>
      •	condições climáticas como pluviosidade, temperatura e velocidade do vento.<br>

      <br>
    </ion-text></ion-card-content>
  </ion-card>
<br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      TERRENO: O solo deve ter profundidade mínima de 1 m, não ser pedregoso ou excessivamente arenoso, de preferência fértil e de boa drenagem. O preparo do terreno para o plantio de café depende do uso anterior do solo. Se o solo vem sendo cultivado com culturas anuais, basta uma aração e gradagem. Em locais de pastagem ou em solos compactos, pode ser necessário fazer mais de uma aração e gradagem ou até uma subsolação para descompactar o solo.
      <br>
    </ion-text></ion-card-content>
  </ion-card>
  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      COLHEITA: O momento certo para se fazer a colheita do café é aquele em que os seus frutos estão maduros, ou seja, encontram-se no estágio cereja, o que, em geral, ocorre sete meses após a floração. O início da colheita do café varia de acordo com a região. No hemisfério sul esse período costuma acontecer de maio a setembro, enquanto próximo à linha do Equador, a colheita pode ser feita ao longo do ano.
      <br> 
    </ion-text></ion-card-content>
  </ion-card>
  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      ACONDICIONAMENTO: Os grãos devem ser acondicionados em sacaria apropriada ou outro recipiente para que sejam transportados para os locais de pós-colheita. Depois de ensacados ou recolhidos em outro recipiente, os grãos devem ser levados para a estrutura de beneficiamento pós-colheita no menor tempo possível.<br>
      VIDA ÚTIL: Existem regras e recomendações para o armazenamento de cafés bem estabelecidas. Contudo, o mercado de cafés especiais e novas técnicas de processamento podem alterar isso. Tradicionalmente, o café é armazenado em sacaria de juta ou em big bags. Mas, embora possamos controlar o ambiente do armazém, perdas de qualidade são inerentes ao processo. Ao longo de um ano de armazenamento, por exemplo, um café pode deixar de ser especial devido a essas perdas. Assim, há uma tendência em buscar novas embalagens ou uso de atmosfera modificada para o armazenamento de cafés especiais.
      <br>
    </ion-text></ion-card-content>
  </ion-card>

</ion-content>