
<ion-content padding class = "background">

  <br>
  <ion-button class="buttonin" (click)="abrirPaginaMenu('menu')" >
    <span class="texto">GESTÃO DE FINANÇAS</span>
  </ion-button>
  <br>

<ion-content>

  <ion-button class="button1" (click)="abrirPaginaCP('cad-prod')">
    <span class="texto"> Cadastro de produtos</span>
  </ion-button>
  <br>
  <ion-button class="button2" color="none"(click)="abrirPaginaCF('caf-faturamentos')" >
    <span class="texto">Cadastro de faturamentos</span>

  </ion-button>
  <br>
  <ion-button class="button3" color="none"(click)="abrirPaginaCD('cad-despesas')" >
    <span class="texto">Cadastro de despesas</span>
  </ion-button>
  <br>
  <ion-button class="button4" color="none"(click)="abrirPaginaAL('acomp-lucros')" >
    <span class="texto">Acompanhamento de lucros</span>
    </ion-button>
</ion-content>
