<ion-content padding class = "background">

  <br><ion-button size="large" color="success" (click)="abrirPaginaMenu('menu')" expand="block">
    GESTÃO DE FINANÇAS
  </ion-button>
  <br>

<ion-content>
  <br><br><br><br><br><br><br><br>
  <ion-button size="large" color="secondary" shape="round" (click)="abrirPaginaCP('cad-prod')" expand="block">
    Cadastro de produtos
  </ion-button>
  <br>
  <ion-button size="large" color="secondary" shape="round" (click)="abrirPaginaCF('caf-faturamentos')" expand="block">
    Cadastro de faturamentos
  </ion-button>
  <br>
  <ion-button size="large" color="secondary" shape="round" (click)="abrirPaginaCD('cad-despesas')" expand="block">
    Cadastro de despesas
  </ion-button>
  <br>
  <ion-button size="large" color="secondary" shape="round" (click)="abrirPaginaAL('acomp-lucros')" expand="block">
    Acompanhamento de lucros
  </ion-button>

</ion-content>
