<ion-content padding class = "background">

  <br><ion-button size="large" color="success" expand="block">
    TRIGO
  </ion-button>

  <br>
  <ion-card>
    <ion-card-content><ion-text color="dark">
      CLIMA:  <br>
      ÁGUA: 
    </ion-text></ion-card-content>
  </ion-card>
<br>
  <ion-card>
    <ion-card-content><ion-text color="dark">
      TERRENO: 
    </ion-text></ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <ion-card-content><ion-text color="dark">
      COLHEITA: 
    </ion-text></ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <ion-card-content><ion-text color="dark">
      ACONDICIONAMENTO:  <br>
      VIDA ÚTIL: 
    </ion-text></ion-card-content>
  </ion-card>

</ion-content>