<ion-content padding class = "background">

  <br><ion-button size="large" color="success" (click)="abrirPaginaLC('lista-culturas')" expand="block">
    TRIGO
  </ion-button>

  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      CLIMA: 5ºC é a temperatura mínima, 20º C ótima para o crescimento da planta toda, 20 a 25ºC - desenvolvimento da folha e 5 a 20ºC – perfilhamento.<br>
      ÁGUA: Chuvas freqüentes após início da floração, temperatura de 20-25º C e molhamento das folhas de no mínimo 48 h consecutivas e a aplicação de fungicidas deve ser feita a partir da floração estendendo-se até o final do florescimento.
       
      <br>
    </ion-text></ion-card-content>
  </ion-card>
<br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      TERRENO: Boa capacidade de retenção de água, boa disponibilidade de nutrientes, ausência de camadas de impedimento: o camadas compactadas o presença de alumínio, baixa suscetibilidade à erosão e boa topografia facilitando a mecanização da cultura.
    </ion-text></ion-card-content>
  </ion-card>
  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      COLHEITA: O ciclo de produção do trigo pode durar, em média, de 100 a 170 dias. Essa variação é devida a cultivar empregada e as condições edafoclimáticas (clima e solo), o solo da área a ser cultivada deve ter boa fertilidade, com a acidez corrigida, livre de pragas, doenças e plantas daninhas antes do inicio do plantio da cultura Cada fase do desenvolvimento do trigo tem uma faixa ideal de temperatura. 
    </ion-text></ion-card-content>
  </ion-card>
  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      ACONDICIONAMENTO: O trigo deve ser armazenado em silos de acordo com sua classe comercial e tipo ou produto final a que será destinado.<br>
      VIDA ÚTIL: Em condições ambientais favoráveis à atividade metabólica do grão (alta umidade e alta temperatura), o fenômeno da respiração é o principal responsável pela rápida deterioração de grãos armazenados.
    </ion-text></ion-card-content>
  </ion-card>

</ion-content>