<ion-content padding class = "background">


  <ion-button class="initbutton" (click)="abrirPaginaMC('menu-calc')" >
    <span class="texto">CADASTRO DE FATURAMENTOS</span>
  </ion-button>


<ion-content>
<h3>Cadastre seus novos faturamentos:</h3>
<h5>De que é esse recebimento? Selecione uma das opções abaixo ou cadastre um novo tipo de recebimento clicando em outro:</h5>

<ion-button class="padrao" size="large" color="secondary" shape="round">
  <form><span class="texto">Venda - Sacas Milho</span></form>
</ion-button>

<ion-button class="padrao" size="large" color="secondary" shape="round" >
  <form><span class="texto">Venda - Galões Leite</span></form>
</ion-button>

<ion-button class="padrao" size="large" color="secondary" shape="round" >
  <form><span class="texto">Venda - Sacas Soja</span></form>
</ion-button>

<ion-button class="padrao" size="large" color="secondary" shape="round" (click)="abrirPaginaCP('cad-prod')" >
  <span class="texto">Outro</span>
</ion-button>


<br><form><ion-input class="item" type="text" placeholder="Digite o valor do faturamento: "></ion-input></form>



    <ion-button class="texto" id="b" shape="round" (click)="abrirPaginaMC('menu-calc')" >
      <span class="texto"> Salvar Alterações </span>
    </ion-button>
