<ion-content padding class = "background">


  <ion-button class="initbutton" (click)="abrirPaginaMC('menu-calc')" >
    <span class="texto">CADASTRO DE FATURAMENTOS</span>
  </ion-button>


<ion-content>
<h3>Cadastre seus novos faturamentos:</h3>
<h5>De que é esse recebimento? Preencha o nome e o valor do recebimento:</h5>

<br><form><ion-input class="item" type="text" placeholder="Digite o nome do faturamento: "></ion-input></form>

<br><form><ion-input class="item" type="text" placeholder="Digite o valor do faturamento: "></ion-input></form>



    <ion-button class="texto" id="b" shape="round" (click)="abrirPaginaMC('menu-calc')" >
      <span class="texto"> Salvar Alterações </span>
    </ion-button>
