<ion-content padding class = "background">
  <br><ion-button class="buttonAcomp" (click)="abrirPaginaMC('menu-calc')">
    <span class="texto" id="fontSize">
      ACOMPANHAMENTOS
    </span>
  </ion-button>

  <br>



<ion-label class="DadosEsquerda">
  <h1>
    <!-- Header -->
    <h1 class="NomeColunaEsquerda">Despesa</h1>
    <h2 class="nomefaturamento">{{nomeDespesa}}</h2>



    <h1 class="NomeColunaEsquerda">Faturamento</h1>
    <h2 class="nomefaturamento">{{nomeFaturamento}}</h2>

  </h1>
  <ion-label class="DadosDireita">
    <h1>
      <!-- Header -->
      <h1 class="NomeColuna">Valor</h1>
      <h2 id="ValorFaturamento">{{valorDespesa}}</h2>
      <h1 class="NomeColuna">Valor</h1>
      <h2 id="ValorFaturamento">{{valorFaturamento}}</h2>
    </h1>
  </ion-label>
</ion-label>

<ion-label><h3>PREENCHA O PERÍODO</h3></ion-label>


  <ion-input class="backinput" [(ngModel)]='mes' placeholder="Digite o mês que deseja consultar:"></ion-input>

  <ion-input class="backinput" [(ngModel)]='ano' placeholder="Digite o ano (XXXX) que deseja consultar:"></ion-input>


  <ion-button class="buttonsave" (click)="selecaoDesp()" shape="round" >
    <span class="texto">Despesas</span>
  </ion-button>

  <ion-button class="buttonsave" (click)="selecaoFatur()" shape="round" >
    <span class="texto">Faturamentos</span>
  </ion-button>

  <ion-button class="buttonsave" (click)="ngOnInit()" shape="round" >
    <span class="texto">Consultar</span>
  </ion-button>




</ion-content>

