@import url('https://fonts.googleapis.com/css2? family = Bebas + Neue & family = Fruktur & family = Noto + Sans + Mono: wght @ 900 & family = Abrir + Sans & family = Poppins: wght @ 400; 500; 700 & family = Zen + Maru + Gothic: wght @ 300 & display = swap ');

ion-col {
  border: 1px solid rgb(255, 255, 255);
  text-align: center;

}

ion-content.background{

  --background: url(../../assets/icon/lucros-f.png) no-repeat center center / cover
  !important;

}

#fontSize {
  font-size: 17px;
}

ion-label h3 {
  font-weight: bold;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;;
}

.labelData {
  font-family: 'Open Sans', sans-serif;
}

.buttonAcomp {
  --background: $background;
    background: #25A18E;
    width: 308px;
    height: 100px;
    border-radius: 22px;
    border: 2px solid #004E64;
    margin-left: 29px;
    margin-top: 23px;
    font-size: 22px;
    font-weight: bold;
    color: #004E64;
    font-family: 'Open Sans', sans-serif;
}

.backinput {
  --background: #C7F9CC;
  border-radius: 30px;
  border: 2px solid #25A18E;
  text-align: center;
  align-items: center;
  width: 310px;
  height: 44px;
  left: 28px;
  padding: 4px;
  margin: 9px 0 9px 0;
}

.buttonsave {
  width: 227px;
  height: 49px;
  left: 71px;
  --background: #25A18E;
  margin: 0 70px 9px 70px;
  border: 2px solid #22577A;
  outline: none;
  border-radius: 24px;
}

.formgroup {
  display:flex;
  justify-content: center;
}

.formgroup label {
  width: 100px;
  height: 44px;
  color:#000000;
  font-size: 15px;
  font-family: Arial;
  font-weight: bold;
  margin-left: 10px;

}

.radio {
  cursor: pointer;
  appearance: none;
  width: 19px;
  height: 22px;
  background: #C7F9CC;
  border: 2px solid #000000;
  border-radius: 50%;
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
}

.radio:before {
  cursor: pointer;
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  background: #000000;
  border-radius: 10px;
  opacity: 0;

}

.radio:checked:before {
  opacity: 1;
}

.inputtext {
  display: flex;
  align-items: center;
  justify-content: center;
}

.insideInput {
  text-align: center;
  width: 302px;
  height: 73px;
  border-radius: 30px;
  border: 2px solid #25A18E;
  background: #C7F9CC;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  outline: none;

}

.insideInput::placeholder{
  color:#22577A;
}

.divbuttonsave {
  display: flex;
  align-items: center;
  justify-content: center;
}
