ion-col {
  border: 1px solid rgb(255, 255, 255);
  text-align: center;

}

ion-content.background{
    
  --background: url(../../assets/icon/lucros-f.jpg) no-repeat center center / cover !important;

}
