<ion-content padding class = "background">
  <br><ion-button size="large" color="success" (click)="abrirPaginaMC('menu-calc')" expand="block">
    ACOMPANHAMENTO DE LUCROS
  </ion-button>

  <br>

  <ion-label><h3>SELECIONE O PERÍODO</h3></ion-label>



  <ion-list>

    <ion-item>
      <ion-label>Data Inicial</ion-label>
      <ion-datetime value="2000-01-01" placeholder="Select Date"></ion-datetime>
    </ion-item>



    <ion-item>
      <ion-label>Data Final</ion-label>
      <ion-datetime value="2000-01-01" placeholder="Select Date"></ion-datetime>
    </ion-item>
  </ion-list>


 <!-- Header -->
{{nomeDespesa}}
{{valorDespesa}}


</ion-content>

