<ion-content padding class = "background">
  <br><ion-button size="large" color="success" (click)="abrirPaginaMC('menu-calc')" expand="block">
    ACOMPANHAMENTO DE LUCROS
  </ion-button>

  <br>

  <ion-label><h3>SELECIONE O PERÍODO</h3></ion-label>



  <ion-list>

    <ion-item>
      <ion-label>Data Inicial</ion-label>
      <ion-datetime value="2000-01-01" placeholder="Select Date"></ion-datetime>
    </ion-item>



    <ion-item>
      <ion-label>Data Final</ion-label>
      <ion-datetime value="2000-01-01" placeholder="Select Date"></ion-datetime>
    </ion-item>
  </ion-list>


 <!-- Header -->

  <ion-grid [fixed] = "true">
    <ion-row>
      <ion-col>
        <strong>Período</strong>
      </ion-col>

      <ion-col>
        <strong>Descrição</strong>
      </ion-col>

      <ion-col>
        <strong>Valor</strong>
      </ion-col>

      <ion-col>
        <strong>Tipo</strong>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
          05/01/21
          06/01/21
          06/01/21
      </ion-col>

      <ion-col>
        Ração
        Agrotóxico
        Ortaliças
      </ion-col>

      <ion-col>
        R$100,00
        R$180,00
        R$450,00
      </ion-col>

      <ion-col>
        <ion-text >
          <ion-text color="danger">
            Despesa
            Despesa
          </ion-text>

          <ion-text color="success">
          Receita
          </ion-text>

        </ion-text>

      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
