ion-content{
   
  --background:#f5f6f3;

}

@-webkit-keyframes swing-in-bottom-fwd{0%{-webkit-transform:rotateX(100deg);transform:rotateX(100deg);-webkit-transform-origin:bottom;transform-origin:bottom;opacity:0}100%{-webkit-transform:rotateX(0);transform:rotateX(0);-webkit-transform-origin:bottom;transform-origin:bottom;opacity:1}}@keyframes swing-in-bottom-fwd{0%{-webkit-transform:rotateX(100deg);transform:rotateX(100deg);-webkit-transform-origin:bottom;transform-origin:bottom;opacity:0}100%{-webkit-transform:rotateX(0);transform:rotateX(0);-webkit-transform-origin:bottom;transform-origin:bottom;opacity:1}}

.container{

  -webkit-animation:swing-in-bottom-fwd 2s cubic-bezier(.175,.885,.32,1.275) both;animation:swing-in-bottom-fwd 1.5s cubic-bezier(.175,.885,.32,1.275) both;

  img{

    height: 300px;
    margin-top: 50%;

  }

}
