<ion-content padding class = "background">

  <br><ion-button size="large" color="success" expand="block">
    Lista de Culturas
  </ion-button>

<ion-title> <br> <br> </ion-title>

<center>
<ion-button size="large"  color="secondary" shape="round" (click)="abrirPaginaSoja('soja')" expand="block">
  Soja
</ion-button>

<ion-button size="large" color="secondary" shape="round" (click)="abrirPaginaMandioca('mandioca')" expand="block">
  Mandioca
</ion-button>

<ion-button size="large" color="secondary" shape="round" (click)="abrirPaginaMilho('milho')" expand="block">
  Milho
</ion-button>

<ion-button size="large" color="secondary" shape="round" (click)="abrirPaginaCafe('cafe')" expand="block">
  Café
</ion-button>

<ion-button size="large" color="secondary" shape="round" (click)="abrirPaginaFeijao('feijao')" expand="block">
  Feijão
</ion-button>

<ion-button size="large" color="secondary" shape="round" (click)="abrirPaginaArroz('arroz')" expand="block">
  Arroz
</ion-button>

<ion-button size="large" color="secondary" shape="round" (click)="abrirPaginaTrigo('trigo')" expand="block">
  Trigo
</ion-button></center>

</ion-content>