<ion-content padding class = "background">

  <br><ion-button size="large" color="success" (click)="abrirPaginaLC('lista-culturas')" expand="block">
    SOJA
  </ion-button>
  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      CLIMA: A temperatura ideal para o bom desenvolvimento da Soja está entre 20ºC e 30ºC. <br>
      ÁGUA: O consumo de água para a obtenção de máximos rendimentos de grãos varia de 450 a 800 mm durante todo o ciclo.
    </ion-text></ion-card-content>
  </ion-card>
  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      TERRENO: Dar preferência a áreas de topografia plana ou pouco ondulada. Não cultivar a soja em solos com menos de 15% de argila, dando preferência para solos com textura média (30% a 35% de argila) e com profundidade efetiva acima de 1,0 m. 
    </ion-text></ion-card-content>
  </ion-card>
  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      COLHEITA: O momento ideal para colheita de soja no campo é quando a mesma se encontra com, pelo menos, 95% das vagens maduras, associado à faixa de umidade nos grãos entre 13 e 15%, faixa esta, compatível com a trilha mecânica.
    </ion-text></ion-card-content>
  </ion-card>
  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      ACONDICIONAMENTO: O armazenamento dos grãos de soja com temperatura de 10 °C foi o mais adequado para a qualidade. As embalagens de plástico conservaram por mais tempo a qualidade dos grãos de soja. <br>
      VIDA ÚTIL: O tempo de armazenamento máximo indicado é de seis meses para os grãos de soja.
    </ion-text></ion-card-content>
  </ion-card>

</ion-content>