<ion-content padding class = "background">

  <br><ion-button size="large" color="success" (click)="abrirPaginaLC('lista-culturas')" expand="block">
    FEIJÃO
  </ion-button>

  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      CLIMA: A temperatura ideal e recomendada, segundo a pesquisas, é um clima que varie em torno de 29ºC durante o dia e 21ºC pela noite. Temperaturas muito altas vão interferir na produção de feijão, sobretudo se houver pouca irrigação e estiagem.  <br>
      ÁGUA: O consumo de água do feijão pode variar de 300 a 450 mm/ciclo, dependendo do ciclo da cultivar, do solo e das condições climáticas locais. O consumo hídrico diário pode variar de 3,0 a 4,0 mm, quando a planta está na fase inicial de desenvolvimento.
    </ion-text></ion-card-content>
  </ion-card>
<br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      TERRENO: Para realizar a preparação do terreno, a máquina de plantio deve cortar a palha acumulada na sua superfície, abrir um sulco (com a menor espessura possível) no solo, depositar a semente na profundidade adequada, possibilitando o seu perfeito contato com a terra e, ao mesmo tempo, colocar o adubo abaixo e ao lado da semente. 
      O feijão, devido ao sistema radicular que possui, prefere solos soltos, leves, de textura areno-argiosa, mais ou menos profundos, ricos em matéria orgânica e em elementos fertilizantes. Os solos arenosos e permeáveis de aluvião são os preferidos. 
    </ion-text></ion-card-content>
  </ion-card>
  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      COLHEITA: Para evitar perdas e obter produtos de boa qualidade, o feijão deve ser colhido, preferencialmente, logo após as sementes alcançarem a maturação fisiológica, o que corresponde ao estádio de desenvolvimento em que as plantas estão com folhas amarelas, com as vagens mais velhas secas e com as sementes na sua capacidade máxima de desenvolvimento. Nas cultivares de sementes de cor bege, a maturação fisiológica é alcançada quando o teor de umidade das sementes encontra-se entre 38% e 44% e, nas de cor preta, entre 30% e 40%. Contudo, em lavouras que se destinam à produção de sementes, recomenda-se iniciar a colheita quando o teor de umidade das sementes atingir 20%. Sementes imaturas, colhidas antes de terem atingido seu ponto de maturação fisiológica, apresentam baixos vigor e poder germinativo.
    </ion-text></ion-card-content>
  </ion-card>
  <br>
  <ion-card color = "secondary">
    <ion-card-content><ion-text color="dark">
      ACONDICIONAMENTO E VIDA ÚTIL: Seu armazenamento por determinado período é inevitável. Colhido e beneficiado, o feijão é ensacado e guardado em depósitos ou armazéns. Dessa forma, e em prazo relativamente curto (quatro meses em média), ocorrem alterações de suas características, por transformações de seus componentes, resultando em grãos que tem elevada resistência à cocção e modificações nas propriedades sensoriais e nutricionais, tornando-se pouco atrativos ao consumidor.
    </ion-text></ion-card-content>
  </ion-card>

</ion-content>
