<br><ion-button size="large" color="success" expand="block">
  CULTURAS RECOMENDADAS
</ion-button>

<ion-text color="success" font size="6">
<center>Quando pretende realizar a semeadura de sua cultura?</center></ion-text>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="dark"><center>Primavera</center></ion-card-title>
    </ion-card-header>
  
    <ion-card-content><ion-text color="dark">
      Clima: A primavera é caracterizada pelo clima ameno e o aumento gradativo do calor. Também marcada pelo aumento da umidade do ar, ocasionando maior quantidade de chuvas.
      Culturas: Devido as características climáticas mencionadas, são boas culturas para semear na primavera: amendoim, arroz, café, cítricos, soja, algodão, cana-de-açúcar, mandioca, milho.

    </ion-text></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="dark"><center>Verão</center></ion-card-title>
    </ion-card-header>
  
    <ion-card-content><ion-text color="dark">
      Clima: O verão é caracterizada pelo aumento das temperaturas e dos índices pluviométricos. Normalmente, nessa estação, os dias são mais longos que as noites em virtude da maior incidência solar em um dos hemisférios.
      Culturas: No verão é bom plantas culturas que se adaptam bem ao calor da estação, como: alface, rúcula, beterraba e couve. Na nossa região o melhor a se plantar é alface, cebolinha, berinjela e rúcula.
    </ion-text></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="dark"><center>Outono</center></ion-card-title>
    </ion-card-header>
  
    <ion-card-content><ion-text color="dark">
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-text></ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title color="dark"><center>Inverno</center></ion-card-title>
    </ion-card-header>
  
    <ion-card-content><ion-text color="dark">
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-text></ion-card-content>
  </ion-card>

</ion-content>
